---
layout: default
title: Home
description: Primary Attraction is a full service creative agency specializing in brand design and development and implementing marketing strategies and tools that get results.
---







<div class="container-fluid plum padded-big" id="gail1">
  <div class="container">
    <div class="row">
    

      <div class="col-md-12">
       <h1><span class="dark-font"> <strong></strong>Health Advocate, Author and Entrepreneur</h2></span>
       <p class="lead"><span class="dark-font sux">Helping businesses and organizations elevate the spiritual, emotional and physical well being of their members/employees.</p></span>
          </div>
      </div>
    </div>
  </div>

 <div class="container-fluid purple padded-big">
  <div class="container">

<h2><span class="white-font">Who I work with</span></h2>
<ul>

  <li class="sux"><i class="fa fa-check-square-o"></i> Faith based organizations (Businesses, churches and
ministries) desiring launch or to enhance their health
and wellness programs</li>
  <li class="sux"><i class="fa fa-check-square-o"></i> Faith based Health and Wellness advocates desiring to
enhance their knowledge in the area of living foods</li>
 <li class="sux"><i class="fa fa-check-square-o"></i> Christian professional women over 35 years old</li>
</ul>


          </div>
      </div>



<div class="container-fluid white padded-big" id="gail3">
  <div class="container">
    <div class="row">
    

      <div class="col-md-12">
       <h1><span class="dark-font"> <strong></strong>Let food be thy medicine</h2></span>
       <p class="lead"><span class="dark-font sux">Let me show your employees/members the way to bring mind, body and spirit to alignment, the way God intended.</p></span>
          </div>
      </div>
    </div>
  </div>

  <div class="container-fluid dark padded-big">
  <div class="container">
    <div class="row">
          <div class="col-md-4"><h2>Motivational Talks</h2><p class="lead">Let me inspire your employees toward a path of health with my most popular and powerful presentation.<br>

<ul>
          <span class="lead"> <li> <i class="fa fa-check-square-o"></i> I will share my powerful testimonial</li>
           <li> <i class="fa fa-check-square-o"></i> What's wrong with our food?</li>
             <li> <i class="fa fa-check-square-o"></i> Why are we so sick, and tired?</li>
              <li> <i class="fa fa-check-square-o"></i> Nutrition 101</li>
           <li> <i class="fa fa-check-square-o"></i> Living Foods</li>
           <li> <i class="fa fa-check-square-o"></i> The Mind, Body Spirit connection</li>
           <li> <i class="fa fa-check-square-o"></i> How to make an individual health plans</li>
             <li> <i class="fa fa-check-square-o"></i> How to support each other</li>
           <li> <i class="fa fa-check-square-o"></i> Get healthy, get energy and get focused!</li>
        </ul>
       <p class="suxy purple-font">starting at $1000</p>
        </div>

        <div class="col-md-8">
          <div class="row">
           <div class="col-md-6"><h2>Wellness Programs</h2><p class="lead">Custom designed for your organization or company to empower your employees to get healthier!</p>
            <ul>
                   <span class="lead">   <li> <i class="fa fa-check-square-o"></i> Implement a custom wellness program</li>
           <li> <i class="fa fa-check-square-o"></i> Improve productivity and morale</li>
           <li> <i class="fa fa-check-square-o"></i> Lower health care costs</li>
           <li> <i class="fa fa-check-square-o"></i> More energy = Better results </li></span>
        
              </ul>
  <p class="suxy purple-font">starting at $1500</p>
          </div>
           <div class="col-md-6"><h2>Lunch + Learn</h2><p class="lead">A fun way to incorporate my popular wellness presentation into your organizations schedule</p>
            <ul>
   <span class="lead">
         <li> <i class="fa fa-check-square-o"></i> Tips and Tricks for busy professionals</li>
           <li> <i class="fa fa-check-square-o"></i> Food demonstrations</li>
           <li> <i class="fa fa-check-square-o"></i>  Healthy Snacking</li>
            <li> <i class="fa fa-check-square-o"></i> How to pack a healthy lunch</li>
             <li> <i class="fa fa-check-square-o"></i> 10 things to avoid at all costs</li>
               <li> <i class="fa fa-check-square-o"></i> How to improve energy and focus</li></span>
              </ul>
  <p class="suxy purple-font">starting at $500</p>
          </div>
      </div>
   


<div class="row">
  <div class="col-md-12 purple padded-e">
<span class="suxy"> Are you ready to get your company healthy?  </span><a class="btn btn-pink" href="/contact/">Book Me </a>
  </div>
</div>
</div>
</div>

</div>
</div>
<div class="container-fluid white padded-big" id="gail2">
  <div class="container">
    <div class="row">
    

      <div class="col-md-12">
       <h3><span class="white-font"> <strong></strong>"The most powerful speaker in the health field I've ever seen" -Linda Stark, ACML Global Ministries</h3></span>
   
          </div>
      </div>
    </div>
  </div>
 


<div class="container-fluid white padded-med visible-xs">
    <div class="container">
      <div class="row">
        <div class="col-md-12"> 
      
       <span class="pink-font big"><i class="fa fa-phone-square fa-lg"> <strong>6122174112 </strong></i> </span><span class="black-font sux"><br>
      <i class="fa fa-envelope-o fa-lg" alt="visit us on twitter"></i> hello@primaryattraction.com </strong></h4></span>
      
      </div>

    </div>
    </div>
</div> 
<div class="container-fluid white padded-big  hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-md-12"> 
      
       <span class="purple-font sux"><i class="fa fa-phone-square fa-lg"> <strong>6122174112 </strong></i> </span><span class="dark-font big">
      <i class="fa fa-envelope-o fa-lg" alt="visit us on twitter"></i> hello@gaildavis.com </strong></h4></span>
      
      </div>

    </div>
    </div>
</div> 

{% include social.html %}


  <div class="container-fluid purple">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
   {% include signup.html %}
   </div>
 </div>
  </div>
</div>







